@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100..900;1,100..900&display=swap');

body {
  --ucu-primary-color: #213761;
  --ucu-secondary-color: #767276;
  --ucu-font-family: "Asap", sans-serif;
}

h1 {
  font-family: var(--ucu-font-family);
  color: var(--ucu-primary-color);
  text-transform: uppercase; 
}
